footer {
  width: 100%;
  padding: 100px 0px;
  background-color: $blue;
  @include fc(column);

  .footer-cont {
    width: 50%;
    @include fc(column);
    text-align: center;
    color: #fff;

    @media screen and (max-width: 1200px) {
      width: 80%;
    }
    @media screen and (max-width: 680px) {
      width: 90%;
    }

    h2 {
      font-size: 36px;
      font-weight: 300;
    }
  }

  .btns {
    margin-top: 20px;
    @include fc(row);
    a {
      text-decoration: none;
      color: #fff;
      padding: 12px 30px;
      border: 2px solid $main;
      font-size: 20px;
      margin: 10px;
    }
    .fill {
      background-color: $main;
    }

    @media screen and (max-width: 900px) {
      a {
        font-size: 16px;
      }
    }
    @media screen and (max-width: 500px) {
      a {
        padding: 12px;
      }
    }
  }

  p {
    margin-top: 20px;
    font-size: 14px;
  }
}
